@mixin button-ghost-grad($direction, $clr1, $clr2) {
  border: 1px solid transparent;
  border-image: linear-gradient($direction, $clr1 0%, $clr2 100%);
  border-image-slice: 1;
  background: linear-gradient($direction, $clr1 0%, $clr2 100%);
  background-clip: text;
  color: transparent;
  transition: all 0.5s ease;
  outline: none;

  @media screen and (max-width: 1000px) {
    border: 1px solid #fb83fa;
    color: #fb83fa;
    transition: all 0.5s ease;
    outline: none;
  }

  &:hover {
    background: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
    transition: all 0.5s ease;
    color: #111111;
    text-decoration: none;

    @media screen and (max-width: 1000px) {
      outline: none;
      background: #fb83fa;
    }
  }
}

@mixin button-additional {
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
}

.button {
  min-width: 10rem;
  min-height: 3rem;
  margin: 0.5rem;

  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 600;
  pointer-events: all;

  @media screen and (max-width: 1000px) {
    min-width: 5rem;
    min-height: 2.5rem;
    font-size: 0.5rem;
  }

  @include button-additional;
  @include button-ghost-grad(155deg, #fb83fa, #31bcb8);
}

.button__small {
  min-width: 5rem;
  min-height: 2rem;
  margin: 0.5rem;

  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 400;
  pointer-events: all;
  text-align: center;

  @include button-additional;
  @include button-ghost-grad(155deg, #fb83fa, #31bcb8);
}

.button__close {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;

  font-size: 2rem;
  line-height: 1.5rem;
  font-weight: 300;
  pointer-events: all;

  @include button-additional;
  @include button-ghost-grad(155deg, #fb83fa, #31bcb8);
}

.button__twitter {
  width: 6rem;
  height: 2rem;
  @include button-ghost-grad(155deg, #fb83fa, #31bcb8);
  display: grid;
  place-items: center center;
  justify-self: center;
  align-self: center;
  margin: auto;
  pointer-events: all;
  text-decoration: none;
}
