.contact-container {
  @include form-field(name, input);
  @include form-field(email, input);
  @include form-field(message, textarea);

  .message,
  .message textarea {
    height: 14rem;
  }

  .message textarea {
    padding: 1.7rem 0 0 0.5rem;
    resize: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
  }

  span {
    width: 100%;
    height: 1.5rem;
    padding: 0.5rem;
    background: $primary;
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  input {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    padding: 0 0 0 0.5rem;
  }

  .submit-button-field {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
