.contact-container {
  @include form-field(name, input);
  @include form-field(email, input);
  @include form-field(message, textarea);

  .message,
  .message textarea {
    height: 20vh;
    resize: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
  }

  input {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
  }

  .content-message {
    height: 50px;
    top: 0.9em;
  }

  .submit-button-field {
    width: 100%;
    display: grid;
    @include grid-center;
    font-size: 0.7em;
  }
}
