$classicRose: #ffcfe2;
$jet: #111111;
$ebony: #181818;
$deepViolet: #1b065e;
$purplePizzazz: #ff47da;

$headingSize: 4em;
$paraSize: 0.8em;
$emphSize: 1.2em;

$primary: $jet;
$secondary: $ebony;
$tertiary: $classicRose;

$headerFont: "Oswald", sans-serif;
$paraFont: "Montserrat", sans-serif;
$emphFont: "Indie Flower", cursive;

@mixin header-css {
  font-family: $headerFont;
  color: $tertiary;
  font-size: $headingSize;
  transform: skew(15deg);
  text-shadow: -2px 2px $purplePizzazz, -4px 4px black;
  margin: 20px 0;

  @media screen and (max-width: 900px) {
    font-size: 2em;
  }
}

@mixin sub-header-css {
  font-family: $headerFont;
  color: $tertiary;
  font-size: $headingSize/2;
  transform: skew(15deg);
  text-shadow: -2px 2px $purplePizzazz, -4px 4px black;
  margin: 20px 0;

  @media screen and (max-width: 900px) {
    font-size: 2em;
  }
}

@mixin para-css {
  font-family: $paraFont;
  color: white;
  font-size: $paraSize;

  @media screen and (max-width: 900px) {
    font-size: 0.625em;
  }
}

@mixin emphasis-css {
  font-family: $emphFont;
  color: white;
  font-size: $emphSize;

  @media screen and (max-width: 900px) {
    font-size: 0.625em;
  }
}
