$classicRose: #ffcfe2;
$jet: #111111;
$ebony: #181818;
$deepViolet: #1b065e;
$purplePizzazz: #ff47da;

$headingSize: 4em;
$paraSize: 1em;
$emphSize: 1.2em;

$primary: $jet;
$secondary: $ebony;
$tertiary: $classicRose;

$headerFont: "Oswald", sans-serif;
$paraFont: "Montserrat", sans-serif;
$emphFont: "Indie Flower", cursive;

@mixin header-css {
  font-family: $headerFont;
  color: $tertiary;
  font-size: $headingSize;
  transform: skew(15deg);
  text-shadow: -2px 2px $purplePizzazz, -4px 4px black;
  margin-bottom: 20px;

  @media screen and (max-width: 900px) {
    font-size: 2em;
  }
}

@mixin sub-header-css {
  font-family: $headerFont;
  color: $tertiary;
  font-size: $headingSize/2;
  transform: skew(15deg);
  text-shadow: -2px 2px $purplePizzazz, -4px 4px black;
  margin: 30px 0px 10px 0px;

  @media screen and (max-width: 900px) {
    font-size: 1em;
  }
}

@mixin para-css {
  font-family: $paraFont;
  font-size: $paraSize;
  color: white;

  @media screen and (max-width: 900px) {
    font-size: 0.625em;
  }
}

@mixin emphasis-css {
  font-family: $emphFont;
  color: white;
  font-size: $emphSize;

  @media screen and (max-width: 900px) {
    font-size: 0.625em;
  }
}

@mixin ul-css {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template:
    "1fr 1fr 1fr"
    "1fr 1fr 1fr"
    "1fr 1fr 1fr";
  align-items: center;
  justify-items: left;
  margin-bottom: 20px;

  li {
    @include para-css;
    margin: 10px 0;
  }
}

@mixin main-window {
  width: calc(100%-45px);
  height: 100vh;
  margin-left: 45px;
  padding: 0px 25px;
  background: $secondary;
  background-position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
    grid-auto-flow: rows;
  }
}

@mixin half-panel {
  height: 100%;
  width: 100%;
  display: grid;
  background: $secondary;
  background-size: cover;
}

@mixin half-graphic {
  width: 100%;
  align-self: center;
  justify-self: center;
  background: $secondary;
  background-size: cover;
}

@mixin grid-center {
  align-items: center;
  justify-items: center;
}

@mixin button-css {
  display: inline-block;
  width: 130px;
  height: 50px;
  padding: 10px;
  margin: 20px 0;

  color: $tertiary;
  text-align: center;
  background: transparent;

  border-style: solid;
  border-radius: 25px;

  text-transform: uppercase;
  font-family: "Oswald";
  text-decoration: underline;

  transition: 0.2s;
  box-shadow: 6px 6px 4px $primary;

  &:hover {
    color: $secondary;
    background: $tertiary;
    border: $tertiary solid;
    box-shadow: 0 0 10px $tertiary;
    transform: scale(1.1);
  }
}

@mixin small-button-css {
  display: inline-block;
  width: 80px;
  height: 30px;
  margin: 20px 0;

  color: $tertiary;
  text-align: center;
  background: transparent;

  border: $tertiary solid;
  border-radius: 25px;

  text-transform: uppercase;
  font-family: "Oswald";
  text-decoration: underline;

  transition: 0.2s;
  box-shadow: 6px 6px 4px $primary;

  &:hover {
    color: $secondary;
    background: $tertiary;
    border: $tertiary solid;
    box-shadow: 0 0 10px $tertiary;
    transform: scale(1.1);
  }
}

@mixin card-panel-multi-section {
  @include half-panel;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  width: 50%;

  @media screen and (max-width: 1000px) {
    left: calc(20%+45px);
    width: 90%;
    top: 30vh;
  }

  .project-panels {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;

    .project {
      width: 100%;

      h1 {
        @include sub-header-css;
        width: 100%;
        text-align: center;
      }

      .tiles {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        margin-top: 30px;

        .card {
          width: 250px;
          margin: 0px 10px;
          padding: 0px 5px;
          background: $secondary;
          align-self: center;
          justify-self: center;

          .photo-container {
            width: 100%;
            height: 100%;
            display: block;

            img {
              width: 100%;
              display: block;
            }
          }
        }
      }
    }
  }
}

@mixin form-field($field, $type) {
  .#{$field} {
    width: 95%;
    position: relative;
    height: 50px;
    background: $tertiary;
    overflow: hidden;
    margin-bottom: 30px;
    margin-left: 2.5%;
  }

  .#{$field} #{$type} {
    width: 100%;
    height: 100%;
    color: $tertiary;
    padding-top: 20px;
    border: none;
    outline: none;
    background: linear-gradient(to top, $primary, $secondary);
  }

  .#{$field} label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .#{$field} label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid $tertiary;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .content-#{$field} {
    @include emphasis-css;

    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
  }

  .#{$field} #{$type}:focus + .label-#{$field} .content-#{$field},
  .#{$field} #{$type}:valid + .label-#{$field} .content-#{$field} {
    transform: translateY(-1.2em);
    font-size: 1em;
    color: $tertiary;
  }

  .#{$field} #{$type}:focus + .label-#{$field}::after,
  .#{$field} #{$type}:valid + .label-#{$field}::after {
    transform: translateX(0%);
  }
}
