//Programmer: Brandon Whittle
//Project: Design Portfolio
//Date: January 8, 2020

//!
//?
////
//*
//todo

//! CONSTANTS

$classicRose: #ffcfe2;
$licorice: #111111;
$eerieBlack: #181818;
$maximumYellow: #f6f740;
$pictonBlue: #44ccff;
$purplePizzazz: #ff47da;

$twitterBlue: #1da1f2;

//! GLOBAL VARIABLES

$primary: $licorice;
$secondary: $eerieBlack;
$tertiary: $classicRose;

$headSize: 4rem;
$head2Size: 3rem;
$Head3Size: 2rem;
$paraSize: 1rem;
$emphSize: 1.2rem;

$headCol: $purplePizzazz;
$subHeadCol: $purplePizzazz;
$paraCol: white;
$emphCol: white;

$headFont: "Oswald", sans-serif;
$paraFont: "Montserrat", sans-serif;
$emphFont: "Indie Flower", cursive;

//! TEXT TAG MIXINS

@mixin headerSpec {
  transform: skew(15deg);
  text-shadow: -2px 2px $purplePizzazz, 2px -2px $pictonBlue;
  font-family: $headFont;
  color: black;
}

//! SPECIAL TEXT MIXINS

@mixin emph-css {
  font-family: $emphFont;
  font-size: $emphSize;
  color: white;

  @media screen and (max-width: 1000px) {
    font-size: $emphSize/2;
  }
}

//! PAGE SETUP MIXINS

@mixin grid-center {
  align-items: center;
  justify-items: center;
}

//! CONTACT FORM FIELD MIXIN
//* Actually needs to exist here. Runs 3x. Pretty input fields.

@mixin form-field($field, $type) {
  .#{$field} {
    width: 95%;
    position: relative;
    height: 3.25rem;
    background: $primary;
    overflow: hidden;
    margin-bottom: 2rem;
    margin-left: 2.5%;
  }

  .#{$field} #{$type} {
    width: 100%;
    height: 100%;
    color: white;
    padding-top: 1.25rem;
    border: none;
    outline: none;
    background: linear-gradient(to top, $primary, $primary);
  }

  .#{$field} label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .#{$field} label::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(
      to right,
      black 0%,
      #44ccff 25%,
      #ff47da 75%,
      black 100%
    );
    border-image-slice: 1;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .content-#{$field} {
    font-family: $paraFont;
    font-size: $paraSize;
    color: white;

    @media screen and (max-width: 1000px) {
      font-size: $paraSize/2;
    }

    position: absolute;
    top: 1.2rem;
    left: 0;
    transition: all 0.3s ease;
  }

  .#{$field} #{$type}:focus + .label-#{$field} .content-#{$field},
  .#{$field} #{$type}:valid + .label-#{$field} .content-#{$field} {
    transform: translateY(-1.2rem);
    font-size: 0.7rem;
    color: white;
  }

  .#{$field} #{$type}:focus + .label-#{$field} .content-#{$field},
  .#{$field} #{$type}:valid + .label-#{$field} .content-#{$field} {
    transform: translateY(-1.2rem);
    font-size: 0.7rem;
    color: white;
  }

  .#{$field} #{$type}:focus + .label-#{$field}::after,
  .#{$field} #{$type}:valid + .label-#{$field}::after {
    transform: translateX(0%);
  }

  .#{$field} #{$type}:invalid + .label-#{$field} {
    border-left: 1px solid red;
  }
}
