@import "./variables";
@import "./nav";

//! MASTER WINDOW STYLING

.main-window {
  width: calc(100% - 3rem);
  height: 100vh;
  margin-left: 3rem;
  padding: 0 1.5rem;
  background: transparent;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
    grid-auto-flow: rows;
    min-height: 150vh;
  }
}

canvas {
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - 3rem);
  height: 100vh;
}

#root {
  background: black;
  height: 100vh;
}

.App {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  width: 100%;
}

.left,
.right {
  height: 100%;
  width: 100%;
  display: grid;
  background-size: cover;
}

//! MASTER GRAPHIC STYLING

.half-graphic {
  width: 90%;
  align-self: center;
  justify-self: center;
}

.bottom-graphic {
  width: calc(100% - 3rem);
  position: absolute;
  bottom: 1rem;
  left: 3rem;
}

//! MASTER COMPONENT STYLING

.client-disclaimer {
  text-align: center;
  p {
    width: 100%;
    font-family: $paraFont;
    font-size: $paraFont;

    color: white;
  }
}

//! MASTER TEXT STYLING

h1 {
  margin: 0 0 1.25rem 0;
  @include headerSpec;
  font-size: $headSize;

  @media screen and (max-width: 1000px) {
    font-size: $headSize/2;
  }
}

h3 {
  margin: 3rem 0 1rem 0;
  @include headerSpec;
  font-size: $Head3Size;
  text-align: center;

  @media screen and (max-width: 1000px) {
    font-size: $Head3Size/2;
  }
}

p {
  font-family: $paraFont;
  font-size: $paraSize;
  color: white;

  @media screen and (max-width: 1000px) {
    font-size: $paraSize/2;
  }
}

ul {
  width: 100%;
  font-family: $paraFont;
  font-size: $paraSize;
  color: white;
  list-style: none;
  display: grid;
  grid-template: "1fr 1fr 1fr";
  align-items: center;
  justify-items: left;

  @media screen and (max-width: 1000px) {
    font-size: $paraSize/2;
  }

  li {
    margin: 0.25rem 0;
    font-family: $paraFont;
    font-size: $paraSize;
    color: white;

    @media screen and (max-width: 1000px) {
      font-size: $paraSize/2;
    }
  }
}

//! FINAL IMPORTS FOR OVERRIDES

@import "./home";
@import "./about";
@import "./skills";
@import "./projects";
@import "./contact";
@import "./button";
