nav {
  width: 3rem;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
  -ms-grid-rows: 10% 75% 15%;
      grid-template-rows: 10% 75% 15%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(25%, #111111), color-stop(50%, #111111), color-stop(75%, #111111), to(black));
  background-image: linear-gradient(to top, black 0%, #111111 25%, #111111 50%, #111111 75%, black 100%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: fixed;
  z-index: 5;
  border-right: 1px solid transparent;
  -o-border-image: linear-gradient(to top, black 0%, #44ccff 25%, #ff47da 75%, black 100%);
     border-image: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(25%, #44ccff), color-stop(75%, #ff47da), to(black));
     border-image: linear-gradient(to top, black 0%, #44ccff 25%, #ff47da 75%, black 100%);
  border-image-slice: 1;
}

nav .logo-link .logo {
  width: 90%;
  padding: 0.25rem;
}

nav .nav-links {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: rows;
  -ms-grid-rows: 28% 1fr 1fr 1fr 1fr 1fr 20%;
      grid-template-rows: 28% 1fr 1fr 1fr 1fr 1fr 20%;
  place-items: start center;
}

nav .nav-links .home {
  -ms-grid-row: 2;
      grid-row-start: 2;
}

nav .nav-links .about {
  -ms-grid-row: 3;
      grid-row-start: 3;
}

nav .nav-links .skills {
  -ms-grid-row: 4;
      grid-row-start: 4;
}

nav .nav-links .projects {
  -ms-grid-row: 5;
      grid-row-start: 5;
}

nav .nav-links .contact {
  -ms-grid-row: 6;
      grid-row-start: 6;
}

nav .nav-links .home,
nav .nav-links .about,
nav .nav-links .skills,
nav .nav-links .projects,
nav .nav-links .contact {
  width: 100%;
  text-decoration: none;
  color: #808080;
  font-family: "Cairo", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 200;
  text-align: center;
}

nav .nav-links .home:hover,
nav .nav-links .about:hover,
nav .nav-links .skills:hover,
nav .nav-links .projects:hover,
nav .nav-links .contact:hover {
  color: transparent;
  background-image: linear-gradient(155deg, #ff47da, #44ccff);
  background-clip: text;
}

nav .nav-links .active {
  color: transparent;
  background-image: linear-gradient(155deg, #ff47da, #44ccff);
  background-clip: text;
}

nav .nav-links .active::after {
  content: "";
  display: block;
  margin: auto;
  width: 50%;
  height: 1px;
  background-image: linear-gradient(155deg, #ff47da, #44ccff);
}

nav .outside-links {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (25%)[4];
      grid-template-rows: repeat(4, 25%);
  place-items: center center;
}

nav .outside-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.main-window {
  width: calc(100% - 3rem);
  height: 100vh;
  margin-left: 3rem;
  padding: 0 1.5rem;
  background: transparent;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1000px) {
  .main-window {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-flow: rows;
    min-height: 150vh;
  }
}

canvas {
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - 3rem);
  height: 100vh;
}

#root {
  background: black;
  height: 100vh;
}

.App {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  width: 100%;
}

.left,
.right {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  background-size: cover;
}

.half-graphic {
  width: 90%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.bottom-graphic {
  width: calc(100% - 3rem);
  position: absolute;
  bottom: 1rem;
  left: 3rem;
}

.client-disclaimer {
  text-align: center;
}

.client-disclaimer p {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: "Montserrat", sans-serif;
  color: white;
}

h1 {
  margin: 0 0 1.25rem 0;
  -webkit-transform: skew(15deg);
          transform: skew(15deg);
  text-shadow: -2px 2px #ff47da, 2px -2px #44ccff;
  font-family: "Oswald", sans-serif;
  color: black;
  font-size: 4rem;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 2rem;
  }
}

h3 {
  margin: 3rem 0 1rem 0;
  -webkit-transform: skew(15deg);
          transform: skew(15deg);
  text-shadow: -2px 2px #ff47da, 2px -2px #44ccff;
  font-family: "Oswald", sans-serif;
  color: black;
  font-size: 2rem;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  h3 {
    font-size: 1rem;
  }
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: white;
}

@media screen and (max-width: 1000px) {
  p {
    font-size: 0.5rem;
  }
}

ul {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: white;
  list-style: none;
  display: -ms-grid;
  display: grid;
  grid-template: "1fr 1fr 1fr";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: left;
}

@media screen and (max-width: 1000px) {
  ul {
    font-size: 0.5rem;
  }
}

ul li {
  margin: 0.25rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: white;
}

@media screen and (max-width: 1000px) {
  ul li {
    font-size: 0.5rem;
  }
}

.home-container {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 70% 30%;
      grid-template-rows: 70% 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

@media screen and (max-width: 1000px) {
  .home-container {
    height: 100vh;
  }
}

.home-container .subtitle {
  font-family: "Indie Flower", cursive;
  font-size: 1.2rem;
  color: white;
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
  margin: 0 0 1rem 0;
}

@media screen and (max-width: 1000px) {
  .home-container .subtitle {
    font-size: 0.6rem;
  }
}

.home-container .external-links {
  width: 75%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.about-container .timeline {
  width: 100%;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding-bottom: 1.5rem;
}

.projects-container .right {
  width: calc(calc(100% - 3rem) / 2);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-width: 1000px) {
  .projects-container .right {
    left: 3rem;
    width: 100%;
    height: 70vh;
    top: 30vh;
  }
}

.projects-container .right .project-panels {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.projects-container .right .project-panels .client {
  width: 100%;
}

.projects-container .right .project-panels .client .client-header h3 {
  width: 100%;
}

.projects-container .right .project-panels .client .client-projects {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5rem 0;
}

.projects-container .right .project-panels .client .client-projects .card {
  width: 16rem;
  max-height: 16rem;
  margin: 0.5rem 0.5rem;
  background: transparent;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.projects-container .right .project-panels .client .client-projects .card img {
  max-height: 16rem;
  max-width: 16rem;
  display: block;
}

.projects-container .right .project-panels .client .client-disclaimer {
  margin: 0 0 0.5rem 0;
}

.contact-container .name {
  width: 95%;
  position: relative;
  height: 3.25rem;
  background: #111111;
  overflow: hidden;
  margin-bottom: 2rem;
  margin-left: 2.5%;
}

.contact-container .name input {
  width: 100%;
  height: 100%;
  color: white;
  padding-top: 1.25rem;
  border: none;
  outline: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#111111), to(#111111));
  background: linear-gradient(to top, #111111, #111111);
}

.contact-container .name label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.contact-container .name label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid transparent;
  -o-border-image: linear-gradient(to right, black 0%, #44ccff 25%, #ff47da 75%, black 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(black), color-stop(25%, #44ccff), color-stop(75%, #ff47da), to(black));
     border-image: linear-gradient(to right, black 0%, #44ccff 25%, #ff47da 75%, black 100%);
  border-image-slice: 1;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.contact-container .content-name {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: white;
  position: absolute;
  top: 1.2rem;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1000px) {
  .contact-container .content-name {
    font-size: 0.5rem;
  }
}

.contact-container .name input:focus + .label-name .content-name,
.contact-container .name input:valid + .label-name .content-name {
  -webkit-transform: translateY(-1.2rem);
          transform: translateY(-1.2rem);
  font-size: 0.7rem;
  color: white;
}

.contact-container .name input:focus + .label-name .content-name,
.contact-container .name input:valid + .label-name .content-name {
  -webkit-transform: translateY(-1.2rem);
          transform: translateY(-1.2rem);
  font-size: 0.7rem;
  color: white;
}

.contact-container .name input:focus + .label-name::after,
.contact-container .name input:valid + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.contact-container .name input:invalid + .label-name {
  border-left: 1px solid red;
}

.contact-container .email {
  width: 95%;
  position: relative;
  height: 3.25rem;
  background: #111111;
  overflow: hidden;
  margin-bottom: 2rem;
  margin-left: 2.5%;
}

.contact-container .email input {
  width: 100%;
  height: 100%;
  color: white;
  padding-top: 1.25rem;
  border: none;
  outline: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#111111), to(#111111));
  background: linear-gradient(to top, #111111, #111111);
}

.contact-container .email label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.contact-container .email label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid transparent;
  -o-border-image: linear-gradient(to right, black 0%, #44ccff 25%, #ff47da 75%, black 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(black), color-stop(25%, #44ccff), color-stop(75%, #ff47da), to(black));
     border-image: linear-gradient(to right, black 0%, #44ccff 25%, #ff47da 75%, black 100%);
  border-image-slice: 1;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.contact-container .content-email {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: white;
  position: absolute;
  top: 1.2rem;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1000px) {
  .contact-container .content-email {
    font-size: 0.5rem;
  }
}

.contact-container .email input:focus + .label-email .content-email,
.contact-container .email input:valid + .label-email .content-email {
  -webkit-transform: translateY(-1.2rem);
          transform: translateY(-1.2rem);
  font-size: 0.7rem;
  color: white;
}

.contact-container .email input:focus + .label-email .content-email,
.contact-container .email input:valid + .label-email .content-email {
  -webkit-transform: translateY(-1.2rem);
          transform: translateY(-1.2rem);
  font-size: 0.7rem;
  color: white;
}

.contact-container .email input:focus + .label-email::after,
.contact-container .email input:valid + .label-email::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.contact-container .email input:invalid + .label-email {
  border-left: 1px solid red;
}

.contact-container .message {
  width: 95%;
  position: relative;
  height: 3.25rem;
  background: #111111;
  overflow: hidden;
  margin-bottom: 2rem;
  margin-left: 2.5%;
}

.contact-container .message textarea {
  width: 100%;
  height: 100%;
  color: white;
  padding-top: 1.25rem;
  border: none;
  outline: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#111111), to(#111111));
  background: linear-gradient(to top, #111111, #111111);
}

.contact-container .message label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.contact-container .message label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid transparent;
  -o-border-image: linear-gradient(to right, black 0%, #44ccff 25%, #ff47da 75%, black 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(black), color-stop(25%, #44ccff), color-stop(75%, #ff47da), to(black));
     border-image: linear-gradient(to right, black 0%, #44ccff 25%, #ff47da 75%, black 100%);
  border-image-slice: 1;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.contact-container .content-message {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: white;
  position: absolute;
  top: 1.2rem;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1000px) {
  .contact-container .content-message {
    font-size: 0.5rem;
  }
}

.contact-container .message textarea:focus + .label-message .content-message,
.contact-container .message textarea:valid + .label-message .content-message {
  -webkit-transform: translateY(-1.2rem);
          transform: translateY(-1.2rem);
  font-size: 0.7rem;
  color: white;
}

.contact-container .message textarea:focus + .label-message .content-message,
.contact-container .message textarea:valid + .label-message .content-message {
  -webkit-transform: translateY(-1.2rem);
          transform: translateY(-1.2rem);
  font-size: 0.7rem;
  color: white;
}

.contact-container .message textarea:focus + .label-message::after,
.contact-container .message textarea:valid + .label-message::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.contact-container .message textarea:invalid + .label-message {
  border-left: 1px solid red;
}

.contact-container .message,
.contact-container .message textarea {
  height: 14rem;
}

.contact-container .message textarea {
  padding: 1.7rem 0 0 0.5rem;
  resize: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.contact-container span {
  width: 100%;
  height: 1.5rem;
  padding: 0.5rem;
  background: #111111;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact-container input {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding: 0 0 0 0.5rem;
}

.contact-container .submit-button-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  min-width: 10rem;
  min-height: 3rem;
  margin: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 600;
  pointer-events: all;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  text-align: center;
  border: 1px solid transparent;
  -o-border-image: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
     border-image: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
  border-image-slice: 1;
  background: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
  background-clip: text;
  color: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  outline: none;
}

@media screen and (max-width: 1000px) {
  .button {
    min-width: 5rem;
    min-height: 2.5rem;
    font-size: 0.5rem;
  }
}

.button:hover {
  background: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #111111;
  text-decoration: none;
}

.button__small {
  min-width: 5rem;
  min-height: 2rem;
  margin: 0.5rem;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 400;
  pointer-events: all;
  text-align: center;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  text-align: center;
  border: 1px solid transparent;
  -o-border-image: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
     border-image: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
  border-image-slice: 1;
  background: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
  background-clip: text;
  color: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  outline: none;
}

.button__small:hover {
  background: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #111111;
  text-decoration: none;
}

.button__close {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  font-size: 2rem;
  line-height: 1.5rem;
  font-weight: 300;
  pointer-events: all;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  text-align: center;
  border: 1px solid transparent;
  -o-border-image: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
     border-image: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
  border-image-slice: 1;
  background: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
  background-clip: text;
  color: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  outline: none;
}

.button__close:hover {
  background: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #111111;
  text-decoration: none;
}

.button__twitter {
  width: 6rem;
  height: 2rem;
  border: 1px solid transparent;
  -o-border-image: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
     border-image: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
  border-image-slice: 1;
  background: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
  background-clip: text;
  color: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  outline: none;
  display: -ms-grid;
  display: grid;
  place-items: center center;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  margin: auto;
  pointer-events: all;
  text-decoration: none;
}

.button__twitter:hover {
  background: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #111111;
  text-decoration: none;
}
/*# sourceMappingURL=App.css.map */